.DS_Store
.idea
.git
.vscode
.history
.cache
.temp
.hound
.swc
dist
*.log
node_modules
npm-debug.log
docs/.vitepress/cache
/.changelog
/packages/*/lib
/packages/*/es
/packages/*/dist
package-lock.json
test